@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/* NAVBAR */
.navbar {
    backdrop-filter: blur(10px);
    background-color: rgba(250, 250, 250, 0.8);
    padding-top: 0; 
    padding-bottom: 0;
}

.logo {
    width: 70px;
    height: 70px;
}

.container-fluid {
    padding-left: 80px;
    padding-right: 80px;
}

.nav-link i {
    font-size: 23px;
}

.nav-link {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav-link.active {
    font-weight: 500;
    color: #142533;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #142533;
}


/* HOME */
.content-section {
    padding-top: 90px;
    background-color: rgb(250, 250, 250);
}

#home {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.judul {
    position: relative;
    text-align: center;
}

.highlight {
    text-align: center;
    font-size: 30px;
    color: black;
}

.resume {
    color: rgb(75, 75, 75);
}

.scroll {
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 13px;
}

.scroll i {
    font-size: 20px;
    color: #142533;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-down {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

/* ABOUT */
#about {
    background-color: #27445D;
    color: white;
    display: flex;
}

.intro {
    padding: 50px 75px;
    width: 79%;
}

.hero {
    width: 21%;
    justify-content: end;
    display: flex;
}

.hero img {
    width: 296px;
    height: 364px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
}

.content-about {
    color: rgb(226, 226, 226);
}

.exp {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.content-exp {
    display: flex;
    gap: 35px;
}

.content-poin {
    display: flex;
    gap: 6px;
    padding-bottom: 20px;
}

.year-exp {
    color: rgb(148, 148, 255);
    text-align: center;
    font-weight: 600;
}

.judul-exp {
    font-size: 14px;
    font-weight: 600;
}

.place-exp, .desc-exp {
    color: rgb(228, 228, 228);
    font-size: 13px;
}

.desc-exp {
    padding-top: 5px;
}

/* PORTO */
#portfolio {
    background-color: rgb(250, 250, 250);
}

.intro-porto {
    padding: 50px 75px 20px 75px;
}

.content-porto {
    color: rgb(87, 87, 87);
}

.content-porto a {
    text-decoration: none;
    color: #27445D;
    font-weight: 500;
}

.content-porto a:hover {
    color: #142533;
}

.accordion-section {
    padding: 0 75px 50px 75px;
}

.accordion-item, .accordion-header, .accordion-button {
    background-color: rgb(250, 250, 250) !important;
}

.accordion-button {
    padding: 15px 0px;
}

.accordion-body {
    padding: 5px 0 10px 0;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.accordion-button {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card {
    padding: 20px;
    background: rgba(0, 72, 155, 0.2); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out;
}

.card:hover {
    backdrop-filter: blur(15px); 
    transform: translateY(-5px); 
}

.card-judul {
    font-size: 15px;
    font-weight: 650;
    color: #142533;
}

.card-desc {
    font-size: 13px;
    color: #27445D;
}

/* FOOTER */
#footer {
    background-color: #27445D;
    padding: 50px 75px 10px 75px;
}

.connect {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 50px;
}

.logo-contact {
    padding-bottom: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.linked a i {
    font-size: 30px;
    color: #ffffff;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
}